/* Fonts & spacing */
body {
  font-family: "Jost", sans-serif;
  font-weight: 375;
}
b,
strong {
  font-weight: 525;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 425;
}
h1 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
h2 {
  margin-top: 2em;
  font-size: 1.75rem;
}
h3 {
  margin-top: 1.75em;
  font-size: 1.5rem;
}
h4,
h5,
h6 {
  margin-top: 1em;
}
blockquote {
  font-style: italic;
  padding-left: 1.5em;
  color: #555;
}
pre {
  font-size: 0.9rem !important;
}
code {
  color: #333;
  font-family: "Inconsolata", monospace !important;
  font-size: 1em;
  font-weight: 450;
}
details {
  margin-bottom: 1em;
  border: 0.5px solid #ccc;
  padding: 0.5em;
}

/* Special */
a.subtle {
  color: #555;
}
a.pill {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
  background-color: #999;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
a.pill:hover {
  color: #fff;
  text-decoration: underline;
}
.result-positive {
  color: #080;
  font-weight: bold;
}
.appendix-separator {
  margin-top: 4em;
}

/* Template layout */
.dd-root {
  max-width: 45em;
}
.dd-footer {
  margin-top: 6em;
  margin-bottom: 1em;
  font-style: italic;
  font-size: small;
}
.dd-category {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 425;
  font-size: 1.2rem;
}
