h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
h2 {
  margin-top: 1em;
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
.dd-root {
  max-width: 45em;
}
blockquote {
  font-style: italic;
  padding-left: 1.5em;
  color: #555;
}
a.subtle {
  color: #555;
}
code {
  color: #333;
}
pre > code {
  /** Inconsolata is great for blocks but not so good for inline (too small) */
  font-family: Inconsolata, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace !important;
}
.result-positive {
  color: #080;
  font-weight: bold;
}
.appendix-separator {
  margin-top: 4em;
}
.dd-footer {
  margin-top: 6em;
  margin-bottom: 1em;
  font-style: italic;
}
