<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/css/yeti.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">

        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% include analytics.html %}
    </head>
    <body>
      <!-- Navbar -->
      <div class="navbar navbar-default">
        <div class="container-fluid">

          <!-- Fixed header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
          </div>

          <!-- Collapsable links -->
          <div class="collapse navbar-collapse" id="blog-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Essays <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for post in site.posts %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div><!-- navbar-collapse -->
        </div><!-- container-fluid -->
      </div><!-- navbar -->

      <!-- Main content -->
      <div class="container">
        {{ content }}
      </div>

      <!-- Footer -->
      <div id="footer" class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            Written by...
          </div>
          <div class="panel-body">
            <div class="contact-img"><img src="/img/doug.jpg" alt="Doug"/></div>
            <div class="contact-text">
              <ul class="list-unstyled">
                <li>Douglas Orr</li>
                <li>Software Engineer</li>
                <li><a href="https://github.com/douglasorr">github.com/douglasorr</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Comments -->
      <div class="container">
        {% if page.comments %}
        {% include comments.html %}
        {% endif %}
      </div>
    </body>
</html>
